on:
  push:
    branches: 
      - 'master'

name: docker push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: master
      
      - name: Set env
        run: |
          echo "WORKDIR=$(dirname $GITHUB_WORKSPACE)" >> $GITHUB_ENV
          echo "TAG=$(cat ReleaseTag)" >> $GITHUB_ENV
        shell: bash

      - name: Install Golang
        uses: actions/setup-go@v2
        with: 
          go-version: 1.15.x
          
      - name: Build Target
        run: |
          chmod +x ${WORKDIR}/v2ray.sh
          bash ${WORKDIR}/v2ray.sh

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build latest
        run: |
          docker buildx build --platform linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64,linux/ppc64le,linux/s390x \
          --output "type=image,push=true" \
          --tag "${{ secrets.DOCKER_USERNAME }}/test:latest" \
          --file ./Dockerfile.multi .
       
      - name: Build tag
        run: |
          docker buildx build --platform linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64,linux/ppc64le,linux/s390x \
          --output "type=image,push=true" \
          --tag "${{ secrets.DOCKER_USERNAME }}/test:${{ env.TAG }}" \
          --file ./Dockerfile.multi .

  test:
    needs: build
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: master
      
      - name: Set env
        run: |
          echo "TAG=$(cat ReleaseTag)" >> $GITHUB_ENV
        shell:bash

      - name: Test Docker image
        run: |
          docker run --rm --entrypoint /usr/bin/v2ray ${{ secrets.DOCKER_USERNAME }}/test:latest -version
          docker run --rm --entrypoint /usr/bin/v2ray ${{ secrets.DOCKER_USERNAME }}/test:${{ env.TAG }} -version
